# Python cache
__pycache__/
*.pyc

# Virtual environments
.venv/
venv/

# IDE / Editor
.idea/
.vscode/

# OS files
.DS_Store

# Data & logs
data/
logs/

# Model checkpoints
*.pth
*.ckpt

# Large experimental artifacts
30_trainer_datast_list_CIFAR_hete_V*.pickle
*.pickle
*.pkl
